nav {
  display: inline-block;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  width:100%;
   position:fixed;
   top:0px;
   background-color: white;
   border-bottom: solid;
   border-color: black;
}

.logo {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.title {
  display: inline-block;
  align-items: center;
  text-align: left;
  flex-grow: 5;
  margin-left: 10px;
}

.column {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.large {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 630px;
  margin: auto;
}

.medium {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

.small {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  margin: auto;
}

.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.main {
font-family: Georgia;
font-weight: bold;
font-size: 40px;
color: white;
}

.story-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
margin-bottom: 50px;
padding-bottom: 50px;
}

.img-main {
  background-image: url(../resources/img-story-main.png);
  background-repeat: no-repeat;
  height: 320px;
  width: auto;
  display: inline-block;
}

.img-1 {
  background-image: url(../resources/img-story-2.png);
  background-repeat: no-repeat;
  height: 320px;
  width: auto;
  display: inline-block;
}

.img-2 {
  background-image: url(../resources/img-story-3.png);
  background-repeat: no-repeat;
  height: 320px;
  width: auto;
  display: inline-block;
}

.img-3 {
  background-image: url(../resources/img-story-1.png);
  background-repeat: no-repeat;
  height: 320px;
  width: auto;
  display: inline-block;
}

.story {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: horizontal;
}

.c1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 0px;
  width: 290px;
  flex-wrap: wrap;
  align-items: horizontal;
}

.c2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 0px;
  width: 290px;
  flex-wrap: wrap;
  align-items: horizontal;
}

#col {
  column-count: 2
  display: inline-flex;
  flex-direction: column;
}

.news {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-color: black
  border-top-style: solid;
  border-bottom-style: solid;
}

.footer-text {
  display: flex;
  font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
   justify-content: center;
}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
     justify-content: center;
}

.footer-text-1 {
  display: flex;
  justify-content: center;
}
